@import "normalize";
@import "mixins";
@import "fonts";

* {
    font-family: $serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-size: 62.5%;
    /* Sets up the Base 10 stuff */
}

body {
    background: #ffffff;
    color: black;
    @include font-size(19, 29);
    position: relative;
}

a { 
    color: white;
    text-decoration: none;
}

/************************/
/* Global */
/************************/

header {
    color: black;
    p {
        @include font-size(21, 26);
        font-family: $sansDisplayMedium;
        text-indent: 0;
    }
    span {
        @include font-size(18, 20);
        text-transform: capitalize;
        font-family: $sansDisplayMedium;
        position: absolute;
        bottom: percentage(80 / 1376);
    }
}

h1, h2 {
    font-family: $sansDisplayMedium;
    font-weight: 500;
}

h1 {
    @include font-size(120, 230);
    @include reset;
    padding: 1.5rem 1rem;
    //width: percentage(514 / 800);
    width:80%;
}

h2 {
    @include font-size(36, 29);
    text-transform: capitalize;
}

p {
    text-indent: 1rem;
    margin: 0;
    font-family: $serif;
}

span {
    &.uppercase {
        font-family: $serifSmallCaps;
    }
}

ol {
    list-style-type: none;
    @include reset;
}

blockquote {
    position: relative;
    font-family: $sansDisplayBold;
    @include font-size(36, 48);
    width: percentage(550 / 800);
    margin: 10rem auto;
    text-align: center;
    &.legislation {
        @extend code;
    }
}

footer {
    background-color: black;
    overflow: hidden;
    a{ font-family: $sansDisplayBold; }
    .wrapper {
        height: 60px;
        padding: 37px 55px;
    }
    #phoneHome {
        float: left;
        @include font-size (16,16);
    }
    #backToTop {
        @include font-size(14,14);
        height: 65px;
        width: 45px;
        float: right;
        text-align: center;
        text-transform: uppercase;
    }
}

.wrapper {
    padding: 75px;
    margin: 0 auto;
    max-width: 650px;
    &:last-of-type{
        padding-bottom: 40px;
    }
}

/************************/
/* Sections */
/************************/

.sky {
    background: url("../imgs/sky.jpg") repeat;
}

section {
    position: relative;
    &.title {
        height: 1376px;
    }
}

.white {
    background: white;
}

#section3 .wrapper {
    padding-top: 25rem;
}

#section5 .wrapper {
    padding-left: percentage(68 / 645);
}

.aboutTheAuthor {
    margin: 3rem 0 0;
    font-family: $serifItalic;
}
cite { font-style: normal; }

#articleEnd { padding: 0 4px; }

/************************/
/* Drones */
/************************/

#drone1, #drone2, #drone3 {
    position: absolute;
}

#drone1 {
    height: 8.5rem;
    position: absolute;
    right: percentage(30 / 800);
    top: percentage(570 / 1376);
    img {
        width: 228px;
        height: auto;
    }
}

#drone2 {
    height: 36rem;
    position: absolute;
    right: 0;
    top: -12.5rem;
    img {
        position: relative;
        width: 700px;
        height: auto;
    }
}

#drone3 {
    height: 73px;
    img {
        width: 123px;
        height: auto;
        position: absolute;
        top: 150px;
        left: 50px;
    }
}

// DEV STYLES

//.blockquoteSpacer {
//    width: 100%;
//    height: 100%;
//    margin: 25rem 0;
//    position: relative;
//}

#drone1.sticky{
    position: fixed;
    top: 0;
    padding-top: 1rem;
}

#subhead.sticky{
    position: fixed;
    top: 0;
    padding-top: 1rem;
}
#drone3.sticky{
    position: fixed;
    top: 0;
}