/* normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 23, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 33, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 42, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 51, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 65, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 75, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 87, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 96, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 109, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 118, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 127, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 135, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 143, ../sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 153, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 165, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 174, ../sass/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 182, ../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 190, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 199, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 206, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 210, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 222, ../sass/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 230, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 242, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 254, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 265, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 279, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 291, ../sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 303, ../sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 318, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 328, ../sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 338, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 349, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 362, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 371, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 381, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 394, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/********************************/
/* Global Site Color Variables */
/******************************/
/********************************/
/* Global Site FONT Variables */
/******************************/
@font-face {
  font-family: "MillerText Roman";
  src: url("/assets/fonts/millertextroman.eot");
  src: url("/assets/fonts/millertextroman.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/millertextroman.woff") format("woff"), url("/assets/fonts/millertextroman.ttf") format("truetype"), url("/assets/fonts/millertextroman.otf") format("opentype");
  font-weight: "400";
  font-style: "normal";
}

@font-face {
  font-family: "MillerText Italic";
  src: url("/assets/fonts/millertextitalic.eot");
  src: url("/assets/fonts/millertextitalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/millertextitalic.woff") format("woff"), url("/assets/fonts/millertextitalic.ttf") format("truetype"), url("/assets/fonts/millertextitalic.otf") format("opentype");
  font-weight: "400";
  font-style: "italic";
}

@font-face {
  font-family: "MillerText RomanSC";
  src: url("/assets/fonts/millertextromansc.eot");
  src: url("/assets/fonts/millertextromansc.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/millertextromansc.woff") format("woff"), url("/assets/fonts/millertextromansc.ttf") format("truetype"), url("/assets/fonts/millertextromansc.otf") format("opentype");
  font-weight: "400";
  font-style: "normal";
}

@font-face {
  font-family: "Neue Haas Grotesk Display Std 65 Medium";
  src: url("/assets/fonts/nhaasgroteskdsstd65md.eot");
  src: url("/assets/fonts/nhaasgroteskdsstd65md.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/nhaasgroteskdsstd65md.woff") format("woff"), url("/assets/fonts/nhaasgroteskdsstd65md.ttf") format("truetype"), url("/assets/fonts/nhaasgroteskdsstd65md.otf") format("opentype");
  font-weight: "500";
  font-style: "normal";
}

@font-face {
  font-family: "Neue Haas Grotesk Display Std 75 Bold";
  src: url("/assets/fonts/nhaasgroteskdsstd75bd.eot");
  src: url("/assets/fonts/nhaasgroteskdsstd75bd.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/nhaasgroteskdsstd75bd.woff") format("woff"), url("/assets/fonts/nhaasgroteskdsstd75bd.ttf") format("truetype"), url("/assets/fonts/nhaasgroteskdsstd75bd.otf") format("opentype");
  font-weight: "700";
  font-style: "normal";
}

@font-face {
  font-family: "Neue Haas Grotesk Text Std 75 Bold";
  src: url("/assets/fonts/nhaasgrotesktxstd75bd.eot");
  src: url("/assets/fonts/nhaasgrotesktxstd75bd.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/nhaasgrotesktxstd75bd.woff") format("woff"), url("/assets/fonts/nhaasgrotesktxstd75bd.ttf") format("truetype"), url("/assets/fonts/nhaasgrotesktxstd75bd.otf") format("opentype");
  font-weight: "700";
  font-style: "normal";
}

/* line 1, ../sass/_curtain.scss */
html {
  height: 100%;
  overflow-x: hidden;
}

/* line 6, ../sass/_curtain.scss */
.curtains {
  width: 100%;
  z-index: 1;
  position: relative;
}

/* line 12, ../sass/_curtain.scss */
.curtains > li {
  -webkit-transform: translateZ(0);
  background: none;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  z-index: 1;
}

/* line 24, ../sass/_curtain.scss */
.curtains > li.hidden {
  display: none;
}

/* line 25, ../sass/_curtain.scss */
.curtains > li:first-child {
  z-index: 2;
}

/* line 6, ../sass/screen.scss */
* {
  font-family: "MillerText Roman";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 11, ../sass/screen.scss */
html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */
}

/* line 16, ../sass/screen.scss */
body {
  background: #ffffff;
  color: black;
  font-size: 19px;
  line-height: 29px;
  font-size: 1.9rem;
  line-height: 2.9rem;
  position: relative;
}

/* line 23, ../sass/screen.scss */
a {
  color: white;
  text-decoration: none;
}

/************************/
/* Global */
/************************/
/* line 32, ../sass/screen.scss */
header {
  color: black;
}
/* line 34, ../sass/screen.scss */
header p, header blockquote.legislation {
  font-size: 21px;
  line-height: 26px;
  font-size: 2.1rem;
  line-height: 2.6rem;
  font-family: "Neue Haas Grotesk Display Std 65 Medium";
  text-indent: 0;
}
/* line 39, ../sass/screen.scss */
header span {
  font-size: 18px;
  line-height: 20px;
  font-size: 1.8rem;
  line-height: 2rem;
  text-transform: capitalize;
  font-family: "Neue Haas Grotesk Display Std 65 Medium";
  position: absolute;
  bottom: 5.81395%;
}

/* line 48, ../sass/screen.scss */
h1, h2 {
  font-family: "Neue Haas Grotesk Display Std 65 Medium";
  font-weight: 500;
}

/* line 53, ../sass/screen.scss */
h1 {
  font-size: 120px;
  line-height: 230px;
  font-size: 12rem;
  line-height: 23rem;
  margin: 0;
  padding: 0;
  padding: 1.5rem 1rem;
  width: 80%;
}

/* line 61, ../sass/screen.scss */
h2 {
  font-size: 36px;
  line-height: 29px;
  font-size: 3.6rem;
  line-height: 2.9rem;
  text-transform: capitalize;
}

/* line 66, ../sass/screen.scss */
p, blockquote.legislation {
  text-indent: 1rem;
  margin: 0;
  font-family: "MillerText Roman";
}

/* line 73, ../sass/screen.scss */
span.uppercase {
  font-family: "MillerText RomanSC";
}

/* line 78, ../sass/screen.scss */
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 83, ../sass/screen.scss */
blockquote {
  position: relative;
  font-family: "Neue Haas Grotesk Display Std 75 Bold";
  font-size: 36px;
  line-height: 48px;
  font-size: 3.6rem;
  line-height: 4.8rem;
  width: 68.75%;
  margin: 10rem auto;
  text-align: center;
}
/* line 90, ../sass/screen.scss */
blockquote.legislation {
  margin: 4rem auto;
  width: 97%;
  line-height: 1.5;
  font-size: 95%;
  display: block;
}

/* line 100, ../sass/screen.scss */
footer {
  background-color: black;
  overflow: hidden;
}
/* line 103, ../sass/screen.scss */
footer a {
  font-family: "Neue Haas Grotesk Display Std 75 Bold";
}
/* line 104, ../sass/screen.scss */
footer .wrapper {
  height: 60px;
  padding: 37px 55px;
}
/* line 108, ../sass/screen.scss */
footer #phoneHome {
  float: left;
  font-size: 16px;
  line-height: 16px;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
/* line 112, ../sass/screen.scss */
footer #backToTop {
  font-size: 14px;
  line-height: 14px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  height: 65px;
  width: 45px;
  float: right;
  text-align: center;
  text-transform: uppercase;
}

/* line 122, ../sass/screen.scss */
.wrapper {
  padding: 75px;
  margin: 0 auto;
  max-width: 650px;
}
/* line 126, ../sass/screen.scss */
.wrapper:last-of-type {
  padding-bottom: 40px;
}

/************************/
/* Sections */
/************************/
/* line 135, ../sass/screen.scss */
.sky {
  background: url("../imgs/sky.jpg") repeat;
  background-size: cover;
}

/* line 140, ../sass/screen.scss */
section {
  position: relative;
}
/* line 142, ../sass/screen.scss */
section.title {
  height: 1376px;
}

/* line 147, ../sass/screen.scss */
.white {
  background: white;
}

/* line 151, ../sass/screen.scss */
#section3 .wrapper {
  padding-top: 25rem;
}

/* line 155, ../sass/screen.scss */
#section5 .wrapper {
  padding-left: 10.54264%;
}

/* line 159, ../sass/screen.scss */
.aboutTheAuthor {
  margin: 3rem 0 0;
  font-family: "MillerText Italic";
  text-indent: 0;
}

/* line 164, ../sass/screen.scss */
cite {
  font-style: normal;
}

/* line 166, ../sass/screen.scss */
#articleEnd {
  padding: 0 4px;
}

/************************/
/* Drones */
/************************/
/* line 172, ../sass/screen.scss */
#drone1, #drone2, #drone3 {
  position: absolute;
}

/* line 176, ../sass/screen.scss */
#drone1 {
  height: 8.5rem;
  position: absolute;
  right: 3.75%;
  top: 41.42442%;
}
/* line 181, ../sass/screen.scss */
#drone1 img {
  width: 228px;
  height: auto;
}

/* line 187, ../sass/screen.scss */
#drone2 {
  height: 36rem;
  position: absolute;
  right: 0;
  top: -12.5rem;
}
/* line 192, ../sass/screen.scss */
#drone2 img {
  position: relative;
  width: 700px;
  height: auto;
}

/* line 199, ../sass/screen.scss */
#drone3 {
  height: 73px;
}
/* line 201, ../sass/screen.scss */
#drone3 img {
  width: 123px;
  height: auto;
  position: absolute;
  top: 150px;
  left: 50px;
}

/* line 219, ../sass/screen.scss */
#drone1.sticky {
  position: fixed;
  top: 0;
  padding-top: 1rem;
}

/* line 225, ../sass/screen.scss */
#subhead.sticky {
  position: fixed;
  top: 0;
  padding-top: 1rem;
}

/* line 230, ../sass/screen.scss */
#drone3.sticky {
  position: fixed;
  top: 0;
}

/* line 236, ../sass/screen.scss */
blockquote {
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

/* line 244, ../sass/screen.scss */
.invisible {
  opacity: 0;
}

/* line 250, ../sass/screen.scss */
.forSmall {
  display: none;
}

/* line 251, ../sass/screen.scss */
.forLarge {
  display: inherit;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 1) {
  /* line 155, ../sass/_mixins.scss */
  .forSmall {
    display: inherit;
  }

  /* line 156, ../sass/_mixins.scss */
  .forLarge {
    display: none;
  }

  /* line 157, ../sass/_mixins.scss */
  h1 {
    font-size: 5rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 1rem;
  }

  /* line 163, ../sass/_mixins.scss */
  h2 {
    text-align: center;
  }

  /* line 166, ../sass/_mixins.scss */
  #drone1 {
    position: static;
    margin: 0 auto;
    display: block;
  }

  /* line 171, ../sass/_mixins.scss */
  #subhead {
    text-align: center;
    font-size: 90%;
    line-height: 1.25;
  }

  /* line 176, ../sass/_mixins.scss */
  .wrapper {
    padding: 1.5rem;
  }

  /* line 177, ../sass/_mixins.scss */
  section.title {
    height: auto;
  }

  /* line 180, ../sass/_mixins.scss */
  #section3 .wrapper {
    padding-top: 15rem;
  }

  /* line 183, ../sass/_mixins.scss */
  header {
    text-align: center;
    width: 100%;
  }
  /* line 186, ../sass/_mixins.scss */
  header p, header blockquote.legislation {
    margin-bottom: 1.5rem;
  }
  /* line 187, ../sass/_mixins.scss */
  header span {
    position: static;
    bottom: 0;
    font-size: 95%;
  }

  /* line 193, ../sass/_mixins.scss */
  #drone3 {
    display: none;
  }

  /* line 194, ../sass/_mixins.scss */
  blockquote {
    width: 85%;
    margin: 5rem auto;
    font-size: 24px;
    line-height: 30px;
    font-size: 2.4rem;
    line-height: 3rem;
  }

  /* line 199, ../sass/_mixins.scss */
  #drone2 {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 203, ../sass/_mixins.scss */
  #drone2 img {
    max-width: 25rem;
  }

  /* line 205, ../sass/_mixins.scss */
  #phoneHome, #backToTop {
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 1) and (orientation: portrait) {
  /* line 155, ../sass/_mixins.scss */
  .forSmall {
    display: inherit;
  }

  /* line 156, ../sass/_mixins.scss */
  .forLarge {
    display: none;
  }

  /* line 157, ../sass/_mixins.scss */
  h1 {
    font-size: 5rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 1rem;
  }

  /* line 163, ../sass/_mixins.scss */
  h2 {
    text-align: center;
  }

  /* line 166, ../sass/_mixins.scss */
  #drone1 {
    position: static;
    margin: 0 auto;
    display: block;
  }

  /* line 171, ../sass/_mixins.scss */
  #subhead {
    text-align: center;
    font-size: 90%;
    line-height: 1.25;
  }

  /* line 176, ../sass/_mixins.scss */
  .wrapper {
    padding: 1.5rem;
  }

  /* line 177, ../sass/_mixins.scss */
  section.title {
    height: auto;
  }

  /* line 180, ../sass/_mixins.scss */
  #section3 .wrapper {
    padding-top: 15rem;
  }

  /* line 183, ../sass/_mixins.scss */
  header {
    text-align: center;
    width: 100%;
  }
  /* line 186, ../sass/_mixins.scss */
  header p, header blockquote.legislation {
    margin-bottom: 1.5rem;
  }
  /* line 187, ../sass/_mixins.scss */
  header span {
    position: static;
    bottom: 0;
    font-size: 95%;
  }

  /* line 193, ../sass/_mixins.scss */
  #drone3 {
    display: none;
  }

  /* line 194, ../sass/_mixins.scss */
  blockquote {
    width: 85%;
    margin: 5rem auto;
    font-size: 24px;
    line-height: 30px;
    font-size: 2.4rem;
    line-height: 3rem;
  }

  /* line 199, ../sass/_mixins.scss */
  #drone2 {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 203, ../sass/_mixins.scss */
  #drone2 img {
    max-width: 25rem;
  }

  /* line 205, ../sass/_mixins.scss */
  #phoneHome, #backToTop {
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 1) and (orientation: landscape) {
  /* line 155, ../sass/_mixins.scss */
  .forSmall {
    display: inherit;
  }

  /* line 156, ../sass/_mixins.scss */
  .forLarge {
    display: none;
  }

  /* line 157, ../sass/_mixins.scss */
  h1 {
    font-size: 5rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 1rem;
  }

  /* line 163, ../sass/_mixins.scss */
  h2 {
    text-align: center;
  }

  /* line 166, ../sass/_mixins.scss */
  #drone1 {
    position: static;
    margin: 0 auto;
    display: block;
  }

  /* line 171, ../sass/_mixins.scss */
  #subhead {
    text-align: center;
    font-size: 90%;
    line-height: 1.25;
  }

  /* line 176, ../sass/_mixins.scss */
  .wrapper {
    padding: 1.5rem;
  }

  /* line 177, ../sass/_mixins.scss */
  section.title {
    height: auto;
  }

  /* line 180, ../sass/_mixins.scss */
  #section3 .wrapper {
    padding-top: 15rem;
  }

  /* line 183, ../sass/_mixins.scss */
  header {
    text-align: center;
    width: 100%;
  }
  /* line 186, ../sass/_mixins.scss */
  header p, header blockquote.legislation {
    margin-bottom: 1.5rem;
  }
  /* line 187, ../sass/_mixins.scss */
  header span {
    position: static;
    bottom: 0;
    font-size: 95%;
  }

  /* line 193, ../sass/_mixins.scss */
  #drone3 {
    display: none;
  }

  /* line 194, ../sass/_mixins.scss */
  blockquote {
    width: 85%;
    margin: 5rem auto;
    font-size: 24px;
    line-height: 30px;
    font-size: 2.4rem;
    line-height: 3rem;
  }

  /* line 199, ../sass/_mixins.scss */
  #drone2 {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 203, ../sass/_mixins.scss */
  #drone2 img {
    max-width: 25rem;
  }

  /* line 205, ../sass/_mixins.scss */
  #phoneHome, #backToTop {
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) {
  /* line 155, ../sass/_mixins.scss */
  .forSmall {
    display: inherit;
  }

  /* line 156, ../sass/_mixins.scss */
  .forLarge {
    display: none;
  }

  /* line 157, ../sass/_mixins.scss */
  h1 {
    font-size: 5rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 1rem;
  }

  /* line 163, ../sass/_mixins.scss */
  h2 {
    text-align: center;
  }

  /* line 166, ../sass/_mixins.scss */
  #drone1 {
    position: static;
    margin: 0 auto;
    display: block;
  }

  /* line 171, ../sass/_mixins.scss */
  #subhead {
    text-align: center;
    font-size: 90%;
    line-height: 1.25;
  }

  /* line 176, ../sass/_mixins.scss */
  .wrapper {
    padding: 1.5rem;
  }

  /* line 177, ../sass/_mixins.scss */
  section.title {
    height: auto;
  }

  /* line 180, ../sass/_mixins.scss */
  #section3 .wrapper {
    padding-top: 15rem;
  }

  /* line 183, ../sass/_mixins.scss */
  header {
    text-align: center;
    width: 100%;
  }
  /* line 186, ../sass/_mixins.scss */
  header p, header blockquote.legislation {
    margin-bottom: 1.5rem;
  }
  /* line 187, ../sass/_mixins.scss */
  header span {
    position: static;
    bottom: 0;
    font-size: 95%;
  }

  /* line 193, ../sass/_mixins.scss */
  #drone3 {
    display: none;
  }

  /* line 194, ../sass/_mixins.scss */
  blockquote {
    width: 85%;
    margin: 5rem auto;
    font-size: 24px;
    line-height: 30px;
    font-size: 2.4rem;
    line-height: 3rem;
  }

  /* line 199, ../sass/_mixins.scss */
  #drone2 {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 203, ../sass/_mixins.scss */
  #drone2 img {
    max-width: 25rem;
  }

  /* line 205, ../sass/_mixins.scss */
  #phoneHome, #backToTop {
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) and (orientation: portrait) {
  /* line 155, ../sass/_mixins.scss */
  .forSmall {
    display: inherit;
  }

  /* line 156, ../sass/_mixins.scss */
  .forLarge {
    display: none;
  }

  /* line 157, ../sass/_mixins.scss */
  h1 {
    font-size: 5rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 1rem;
  }

  /* line 163, ../sass/_mixins.scss */
  h2 {
    text-align: center;
  }

  /* line 166, ../sass/_mixins.scss */
  #drone1 {
    position: static;
    margin: 0 auto;
    display: block;
  }

  /* line 171, ../sass/_mixins.scss */
  #subhead {
    text-align: center;
    font-size: 90%;
    line-height: 1.25;
  }

  /* line 176, ../sass/_mixins.scss */
  .wrapper {
    padding: 1.5rem;
  }

  /* line 177, ../sass/_mixins.scss */
  section.title {
    height: auto;
  }

  /* line 180, ../sass/_mixins.scss */
  #section3 .wrapper {
    padding-top: 15rem;
  }

  /* line 183, ../sass/_mixins.scss */
  header {
    text-align: center;
    width: 100%;
  }
  /* line 186, ../sass/_mixins.scss */
  header p, header blockquote.legislation {
    margin-bottom: 1.5rem;
  }
  /* line 187, ../sass/_mixins.scss */
  header span {
    position: static;
    bottom: 0;
    font-size: 95%;
  }

  /* line 193, ../sass/_mixins.scss */
  #drone3 {
    display: none;
  }

  /* line 194, ../sass/_mixins.scss */
  blockquote {
    width: 85%;
    margin: 5rem auto;
    font-size: 24px;
    line-height: 30px;
    font-size: 2.4rem;
    line-height: 3rem;
  }

  /* line 199, ../sass/_mixins.scss */
  #drone2 {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 203, ../sass/_mixins.scss */
  #drone2 img {
    max-width: 25rem;
  }

  /* line 205, ../sass/_mixins.scss */
  #phoneHome, #backToTop {
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) and (orientation: landscape) {
  /* line 155, ../sass/_mixins.scss */
  .forSmall {
    display: inherit;
  }

  /* line 156, ../sass/_mixins.scss */
  .forLarge {
    display: none;
  }

  /* line 157, ../sass/_mixins.scss */
  h1 {
    font-size: 5rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 1rem;
  }

  /* line 163, ../sass/_mixins.scss */
  h2 {
    text-align: center;
  }

  /* line 166, ../sass/_mixins.scss */
  #drone1 {
    position: static;
    margin: 0 auto;
    display: block;
  }

  /* line 171, ../sass/_mixins.scss */
  #subhead {
    text-align: center;
    font-size: 90%;
    line-height: 1.25;
  }

  /* line 176, ../sass/_mixins.scss */
  .wrapper {
    padding: 1.5rem;
  }

  /* line 177, ../sass/_mixins.scss */
  section.title {
    height: auto;
  }

  /* line 180, ../sass/_mixins.scss */
  #section3 .wrapper {
    padding-top: 15rem;
  }

  /* line 183, ../sass/_mixins.scss */
  header {
    text-align: center;
    width: 100%;
  }
  /* line 186, ../sass/_mixins.scss */
  header p, header blockquote.legislation {
    margin-bottom: 1.5rem;
  }
  /* line 187, ../sass/_mixins.scss */
  header span {
    position: static;
    bottom: 0;
    font-size: 95%;
  }

  /* line 193, ../sass/_mixins.scss */
  #drone3 {
    display: none;
  }

  /* line 194, ../sass/_mixins.scss */
  blockquote {
    width: 85%;
    margin: 5rem auto;
    font-size: 24px;
    line-height: 30px;
    font-size: 2.4rem;
    line-height: 3rem;
  }

  /* line 199, ../sass/_mixins.scss */
  #drone2 {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 203, ../sass/_mixins.scss */
  #drone2 img {
    max-width: 25rem;
  }

  /* line 205, ../sass/_mixins.scss */
  #phoneHome, #backToTop {
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) {
  /* line 155, ../sass/_mixins.scss */
  .forSmall {
    display: inherit;
  }

  /* line 156, ../sass/_mixins.scss */
  .forLarge {
    display: none;
  }

  /* line 157, ../sass/_mixins.scss */
  h1 {
    font-size: 5rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 1rem;
  }

  /* line 163, ../sass/_mixins.scss */
  h2 {
    text-align: center;
  }

  /* line 166, ../sass/_mixins.scss */
  #drone1 {
    position: static;
    margin: 0 auto;
    display: block;
  }

  /* line 171, ../sass/_mixins.scss */
  #subhead {
    text-align: center;
    font-size: 90%;
    line-height: 1.25;
  }

  /* line 176, ../sass/_mixins.scss */
  .wrapper {
    padding: 1.5rem;
  }

  /* line 177, ../sass/_mixins.scss */
  section.title {
    height: auto;
  }

  /* line 180, ../sass/_mixins.scss */
  #section3 .wrapper {
    padding-top: 15rem;
  }

  /* line 183, ../sass/_mixins.scss */
  header {
    text-align: center;
    width: 100%;
  }
  /* line 186, ../sass/_mixins.scss */
  header p, header blockquote.legislation {
    margin-bottom: 1.5rem;
  }
  /* line 187, ../sass/_mixins.scss */
  header span {
    position: static;
    bottom: 0;
    font-size: 95%;
  }

  /* line 193, ../sass/_mixins.scss */
  #drone3 {
    display: none;
  }

  /* line 194, ../sass/_mixins.scss */
  blockquote {
    width: 85%;
    margin: 5rem auto;
    font-size: 24px;
    line-height: 30px;
    font-size: 2.4rem;
    line-height: 3rem;
  }

  /* line 199, ../sass/_mixins.scss */
  #drone2 {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 203, ../sass/_mixins.scss */
  #drone2 img {
    max-width: 25rem;
  }

  /* line 205, ../sass/_mixins.scss */
  #phoneHome, #backToTop {
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) and (orientation: portrait) {
  /* line 155, ../sass/_mixins.scss */
  .forSmall {
    display: inherit;
  }

  /* line 156, ../sass/_mixins.scss */
  .forLarge {
    display: none;
  }

  /* line 157, ../sass/_mixins.scss */
  h1 {
    font-size: 5rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 1rem;
  }

  /* line 163, ../sass/_mixins.scss */
  h2 {
    text-align: center;
  }

  /* line 166, ../sass/_mixins.scss */
  #drone1 {
    position: static;
    margin: 0 auto;
    display: block;
  }

  /* line 171, ../sass/_mixins.scss */
  #subhead {
    text-align: center;
    font-size: 90%;
    line-height: 1.25;
  }

  /* line 176, ../sass/_mixins.scss */
  .wrapper {
    padding: 1.5rem;
  }

  /* line 177, ../sass/_mixins.scss */
  section.title {
    height: auto;
  }

  /* line 180, ../sass/_mixins.scss */
  #section3 .wrapper {
    padding-top: 15rem;
  }

  /* line 183, ../sass/_mixins.scss */
  header {
    text-align: center;
    width: 100%;
  }
  /* line 186, ../sass/_mixins.scss */
  header p, header blockquote.legislation {
    margin-bottom: 1.5rem;
  }
  /* line 187, ../sass/_mixins.scss */
  header span {
    position: static;
    bottom: 0;
    font-size: 95%;
  }

  /* line 193, ../sass/_mixins.scss */
  #drone3 {
    display: none;
  }

  /* line 194, ../sass/_mixins.scss */
  blockquote {
    width: 85%;
    margin: 5rem auto;
    font-size: 24px;
    line-height: 30px;
    font-size: 2.4rem;
    line-height: 3rem;
  }

  /* line 199, ../sass/_mixins.scss */
  #drone2 {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 203, ../sass/_mixins.scss */
  #drone2 img {
    max-width: 25rem;
  }

  /* line 205, ../sass/_mixins.scss */
  #phoneHome, #backToTop {
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) and (orientation: landscape) {
  /* line 155, ../sass/_mixins.scss */
  .forSmall {
    display: inherit;
  }

  /* line 156, ../sass/_mixins.scss */
  .forLarge {
    display: none;
  }

  /* line 157, ../sass/_mixins.scss */
  h1 {
    font-size: 5rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 1rem;
  }

  /* line 163, ../sass/_mixins.scss */
  h2 {
    text-align: center;
  }

  /* line 166, ../sass/_mixins.scss */
  #drone1 {
    position: static;
    margin: 0 auto;
    display: block;
  }

  /* line 171, ../sass/_mixins.scss */
  #subhead {
    text-align: center;
    font-size: 90%;
    line-height: 1.25;
  }

  /* line 176, ../sass/_mixins.scss */
  .wrapper {
    padding: 1.5rem;
  }

  /* line 177, ../sass/_mixins.scss */
  section.title {
    height: auto;
  }

  /* line 180, ../sass/_mixins.scss */
  #section3 .wrapper {
    padding-top: 15rem;
  }

  /* line 183, ../sass/_mixins.scss */
  header {
    text-align: center;
    width: 100%;
  }
  /* line 186, ../sass/_mixins.scss */
  header p, header blockquote.legislation {
    margin-bottom: 1.5rem;
  }
  /* line 187, ../sass/_mixins.scss */
  header span {
    position: static;
    bottom: 0;
    font-size: 95%;
  }

  /* line 193, ../sass/_mixins.scss */
  #drone3 {
    display: none;
  }

  /* line 194, ../sass/_mixins.scss */
  blockquote {
    width: 85%;
    margin: 5rem auto;
    font-size: 24px;
    line-height: 30px;
    font-size: 2.4rem;
    line-height: 3rem;
  }

  /* line 199, ../sass/_mixins.scss */
  #drone2 {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 203, ../sass/_mixins.scss */
  #drone2 img {
    max-width: 25rem;
  }

  /* line 205, ../sass/_mixins.scss */
  #phoneHome, #backToTop {
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 112, ../sass/_mixins.scss */
  .wrapper {
    padding: 35px;
  }

  /* line 113, ../sass/_mixins.scss */
  .forSmall {
    display: none;
  }

  /* line 114, ../sass/_mixins.scss */
  .forLarge {
    display: inherit;
  }

  /* line 115, ../sass/_mixins.scss */
  h1 {
    line-height: 1.1;
  }

  /* line 118, ../sass/_mixins.scss */
  #drone1 {
    top: 15%;
  }

  /* line 120, ../sass/_mixins.scss */
  header p, header blockquote.legislation {
    margin: 1rem 0 10rem;
  }
  /* line 121, ../sass/_mixins.scss */
  header span {
    position: static;
    bottom: 0;
  }

  /* line 126, ../sass/_mixins.scss */
  section.title {
    height: 875px;
  }

  /* line 127, ../sass/_mixins.scss */
  #drone2 {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 131, ../sass/_mixins.scss */
  #drone2 img {
    max-width: 37.5rem;
  }

  /* line 133, ../sass/_mixins.scss */
  #section5 .wrapper {
    padding-left: 15%;
  }

  /* line 134, ../sass/_mixins.scss */
  #drone3 {
    height: 73px;
  }
  /* line 136, ../sass/_mixins.scss */
  #drone3 img {
    width: 80px;
    height: auto;
    position: absolute;
    top: 150px;
    left: 20px;
  }

  /* line 144, ../sass/_mixins.scss */
  blockquote {
    width: 85%;
    margin: 5rem auto;
    font-size: 30px;
    line-height: 36px;
    font-size: 3rem;
    line-height: 3.6rem;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 112, ../sass/_mixins.scss */
  .wrapper {
    padding: 35px;
  }

  /* line 113, ../sass/_mixins.scss */
  .forSmall {
    display: none;
  }

  /* line 114, ../sass/_mixins.scss */
  .forLarge {
    display: inherit;
  }

  /* line 115, ../sass/_mixins.scss */
  h1 {
    line-height: 1.1;
  }

  /* line 118, ../sass/_mixins.scss */
  #drone1 {
    top: 15%;
  }

  /* line 120, ../sass/_mixins.scss */
  header p, header blockquote.legislation {
    margin: 1rem 0 10rem;
  }
  /* line 121, ../sass/_mixins.scss */
  header span {
    position: static;
    bottom: 0;
  }

  /* line 126, ../sass/_mixins.scss */
  section.title {
    height: 875px;
  }

  /* line 127, ../sass/_mixins.scss */
  #drone2 {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 131, ../sass/_mixins.scss */
  #drone2 img {
    max-width: 37.5rem;
  }

  /* line 133, ../sass/_mixins.scss */
  #section5 .wrapper {
    padding-left: 15%;
  }

  /* line 134, ../sass/_mixins.scss */
  #drone3 {
    height: 73px;
  }
  /* line 136, ../sass/_mixins.scss */
  #drone3 img {
    width: 80px;
    height: auto;
    position: absolute;
    top: 150px;
    left: 20px;
  }

  /* line 144, ../sass/_mixins.scss */
  blockquote {
    width: 85%;
    margin: 5rem auto;
    font-size: 30px;
    line-height: 36px;
    font-size: 3rem;
    line-height: 3.6rem;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 112, ../sass/_mixins.scss */
  .wrapper {
    padding: 35px;
  }

  /* line 113, ../sass/_mixins.scss */
  .forSmall {
    display: none;
  }

  /* line 114, ../sass/_mixins.scss */
  .forLarge {
    display: inherit;
  }

  /* line 115, ../sass/_mixins.scss */
  h1 {
    line-height: 1.1;
  }

  /* line 118, ../sass/_mixins.scss */
  #drone1 {
    top: 15%;
  }

  /* line 120, ../sass/_mixins.scss */
  header p, header blockquote.legislation {
    margin: 1rem 0 10rem;
  }
  /* line 121, ../sass/_mixins.scss */
  header span {
    position: static;
    bottom: 0;
  }

  /* line 126, ../sass/_mixins.scss */
  section.title {
    height: 875px;
  }

  /* line 127, ../sass/_mixins.scss */
  #drone2 {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 131, ../sass/_mixins.scss */
  #drone2 img {
    max-width: 37.5rem;
  }

  /* line 133, ../sass/_mixins.scss */
  #section5 .wrapper {
    padding-left: 15%;
  }

  /* line 134, ../sass/_mixins.scss */
  #drone3 {
    height: 73px;
  }
  /* line 136, ../sass/_mixins.scss */
  #drone3 img {
    width: 80px;
    height: auto;
    position: absolute;
    top: 150px;
    left: 20px;
  }

  /* line 144, ../sass/_mixins.scss */
  blockquote {
    width: 85%;
    margin: 5rem auto;
    font-size: 30px;
    line-height: 36px;
    font-size: 3rem;
    line-height: 3.6rem;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) {
  /* line 112, ../sass/_mixins.scss */
  .wrapper {
    padding: 35px;
  }

  /* line 113, ../sass/_mixins.scss */
  .forSmall {
    display: none;
  }

  /* line 114, ../sass/_mixins.scss */
  .forLarge {
    display: inherit;
  }

  /* line 115, ../sass/_mixins.scss */
  h1 {
    line-height: 1.1;
  }

  /* line 118, ../sass/_mixins.scss */
  #drone1 {
    top: 15%;
  }

  /* line 120, ../sass/_mixins.scss */
  header p, header blockquote.legislation {
    margin: 1rem 0 10rem;
  }
  /* line 121, ../sass/_mixins.scss */
  header span {
    position: static;
    bottom: 0;
  }

  /* line 126, ../sass/_mixins.scss */
  section.title {
    height: 875px;
  }

  /* line 127, ../sass/_mixins.scss */
  #drone2 {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 131, ../sass/_mixins.scss */
  #drone2 img {
    max-width: 37.5rem;
  }

  /* line 133, ../sass/_mixins.scss */
  #section5 .wrapper {
    padding-left: 15%;
  }

  /* line 134, ../sass/_mixins.scss */
  #drone3 {
    height: 73px;
  }
  /* line 136, ../sass/_mixins.scss */
  #drone3 img {
    width: 80px;
    height: auto;
    position: absolute;
    top: 150px;
    left: 20px;
  }

  /* line 144, ../sass/_mixins.scss */
  blockquote {
    width: 85%;
    margin: 5rem auto;
    font-size: 30px;
    line-height: 36px;
    font-size: 3rem;
    line-height: 3.6rem;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  /* line 112, ../sass/_mixins.scss */
  .wrapper {
    padding: 35px;
  }

  /* line 113, ../sass/_mixins.scss */
  .forSmall {
    display: none;
  }

  /* line 114, ../sass/_mixins.scss */
  .forLarge {
    display: inherit;
  }

  /* line 115, ../sass/_mixins.scss */
  h1 {
    line-height: 1.1;
  }

  /* line 118, ../sass/_mixins.scss */
  #drone1 {
    top: 15%;
  }

  /* line 120, ../sass/_mixins.scss */
  header p, header blockquote.legislation {
    margin: 1rem 0 10rem;
  }
  /* line 121, ../sass/_mixins.scss */
  header span {
    position: static;
    bottom: 0;
  }

  /* line 126, ../sass/_mixins.scss */
  section.title {
    height: 875px;
  }

  /* line 127, ../sass/_mixins.scss */
  #drone2 {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 131, ../sass/_mixins.scss */
  #drone2 img {
    max-width: 37.5rem;
  }

  /* line 133, ../sass/_mixins.scss */
  #section5 .wrapper {
    padding-left: 15%;
  }

  /* line 134, ../sass/_mixins.scss */
  #drone3 {
    height: 73px;
  }
  /* line 136, ../sass/_mixins.scss */
  #drone3 img {
    width: 80px;
    height: auto;
    position: absolute;
    top: 150px;
    left: 20px;
  }

  /* line 144, ../sass/_mixins.scss */
  blockquote {
    width: 85%;
    margin: 5rem auto;
    font-size: 30px;
    line-height: 36px;
    font-size: 3rem;
    line-height: 3.6rem;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 112, ../sass/_mixins.scss */
  .wrapper {
    padding: 35px;
  }

  /* line 113, ../sass/_mixins.scss */
  .forSmall {
    display: none;
  }

  /* line 114, ../sass/_mixins.scss */
  .forLarge {
    display: inherit;
  }

  /* line 115, ../sass/_mixins.scss */
  h1 {
    line-height: 1.1;
  }

  /* line 118, ../sass/_mixins.scss */
  #drone1 {
    top: 15%;
  }

  /* line 120, ../sass/_mixins.scss */
  header p, header blockquote.legislation {
    margin: 1rem 0 10rem;
  }
  /* line 121, ../sass/_mixins.scss */
  header span {
    position: static;
    bottom: 0;
  }

  /* line 126, ../sass/_mixins.scss */
  section.title {
    height: 875px;
  }

  /* line 127, ../sass/_mixins.scss */
  #drone2 {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 131, ../sass/_mixins.scss */
  #drone2 img {
    max-width: 37.5rem;
  }

  /* line 133, ../sass/_mixins.scss */
  #section5 .wrapper {
    padding-left: 15%;
  }

  /* line 134, ../sass/_mixins.scss */
  #drone3 {
    height: 73px;
  }
  /* line 136, ../sass/_mixins.scss */
  #drone3 img {
    width: 80px;
    height: auto;
    position: absolute;
    top: 150px;
    left: 20px;
  }

  /* line 144, ../sass/_mixins.scss */
  blockquote {
    width: 85%;
    margin: 5rem auto;
    font-size: 30px;
    line-height: 36px;
    font-size: 3rem;
    line-height: 3.6rem;
  }
}
