/* normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 23, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 33, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 42, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 51, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 65, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 75, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 87, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 96, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 109, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 118, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 127, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 135, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 143, ../sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 153, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 165, ../sass/_normalize.scss */
code, blockquote.legislation,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 174, ../sass/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 182, ../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 190, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 199, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 206, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 210, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 222, ../sass/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 230, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 242, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 254, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 265, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 279, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 291, ../sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 303, ../sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 318, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 328, ../sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 338, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 349, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 362, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 371, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 381, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 394, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/********************************/
/* Global Site Color Variables */
/******************************/
/********************************/
/* Global Site FONT Variables */
/******************************/
@font-face {
  font-family: "MillerText Roman";
  src: url("/assets/fonts/millertextroman.eot");
  src: url("/assets/fonts/millertextroman.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/millertextroman.woff") format("woff"), url("/assets/fonts/millertextroman.ttf") format("truetype"), url("/assets/fonts/millertextroman.otf") format("opentype");
  font-weight: "400";
  font-style: "normal";
}

@font-face {
  font-family: "MillerText Italic";
  src: url("/assets/fonts/millertextitalic.eot");
  src: url("/assets/fonts/millertextitalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/millertextitalic.woff") format("woff"), url("/assets/fonts/millertextitalic.ttf") format("truetype"), url("/assets/fonts/millertextitalic.otf") format("opentype");
  font-weight: "400";
  font-style: "italic";
}

@font-face {
  font-family: "MillerText RomanSC";
  src: url("/assets/fonts/millertextromansc.eot");
  src: url("/assets/fonts/millertextromansc.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/millertextromansc.woff") format("woff"), url("/assets/fonts/millertextromansc.ttf") format("truetype"), url("/assets/fonts/millertextromansc.otf") format("opentype");
  font-weight: "400";
  font-style: "normal";
}

@font-face {
  font-family: "Neue Haas Grotesk Display Std 65 Medium";
  src: url("/assets/fonts/nhaasgroteskdsstd65md.eot");
  src: url("/assets/fonts/nhaasgroteskdsstd65md.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/nhaasgroteskdsstd65md.woff") format("woff"), url("/assets/fonts/nhaasgroteskdsstd65md.ttf") format("truetype"), url("/assets/fonts/nhaasgroteskdsstd65md.otf") format("opentype");
  font-weight: "500";
  font-style: "normal";
}

@font-face {
  font-family: "Neue Haas Grotesk Display Std 75 Bold";
  src: url("/assets/fonts/nhaasgroteskdsstd75bd.eot");
  src: url("/assets/fonts/nhaasgroteskdsstd75bd.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/nhaasgroteskdsstd75bd.woff") format("woff"), url("/assets/fonts/nhaasgroteskdsstd75bd.ttf") format("truetype"), url("/assets/fonts/nhaasgroteskdsstd75bd.otf") format("opentype");
  font-weight: "700";
  font-style: "normal";
}

@font-face {
  font-family: "Neue Haas Grotesk Text Std 75 Bold";
  src: url("/assets/fonts/nhaasgrotesktxstd75bd.eot");
  src: url("/assets/fonts/nhaasgrotesktxstd75bd.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/nhaasgrotesktxstd75bd.woff") format("woff"), url("/assets/fonts/nhaasgrotesktxstd75bd.ttf") format("truetype"), url("/assets/fonts/nhaasgrotesktxstd75bd.otf") format("opentype");
  font-weight: "700";
  font-style: "normal";
}

/* line 5, ../sass/test.scss */
* {
  font-family: "MillerText Roman";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 10, ../sass/test.scss */
html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */
}

/* line 15, ../sass/test.scss */
body {
  background: #ffffff;
  color: black;
  font-size: 19px;
  line-height: 29px;
  font-size: 1.9rem;
  line-height: 2.9rem;
  position: relative;
}

/* line 22, ../sass/test.scss */
a {
  color: white;
  text-decoration: none;
}

/************************/
/* Global */
/************************/
/* line 31, ../sass/test.scss */
header {
  color: black;
}
/* line 33, ../sass/test.scss */
header p {
  font-size: 21px;
  line-height: 26px;
  font-size: 2.1rem;
  line-height: 2.6rem;
  font-family: "Neue Haas Grotesk Display Std 65 Medium";
  text-indent: 0;
}
/* line 38, ../sass/test.scss */
header span {
  font-size: 18px;
  line-height: 20px;
  font-size: 1.8rem;
  line-height: 2rem;
  text-transform: capitalize;
  font-family: "Neue Haas Grotesk Display Std 65 Medium";
  position: absolute;
  bottom: 5.81395%;
}

/* line 47, ../sass/test.scss */
h1, h2 {
  font-family: "Neue Haas Grotesk Display Std 65 Medium";
  font-weight: 500;
}

/* line 52, ../sass/test.scss */
h1 {
  font-size: 120px;
  line-height: 230px;
  font-size: 12rem;
  line-height: 23rem;
  margin: 0;
  padding: 0;
  padding: 1.5rem 1rem;
  width: 80%;
}

/* line 60, ../sass/test.scss */
h2 {
  font-size: 36px;
  line-height: 29px;
  font-size: 3.6rem;
  line-height: 2.9rem;
  text-transform: capitalize;
}

/* line 65, ../sass/test.scss */
p {
  text-indent: 1rem;
  margin: 0;
  font-family: "MillerText Roman";
}

/* line 72, ../sass/test.scss */
span.uppercase {
  font-family: "MillerText RomanSC";
}

/* line 77, ../sass/test.scss */
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 82, ../sass/test.scss */
blockquote {
  position: relative;
  font-family: "Neue Haas Grotesk Display Std 75 Bold";
  font-size: 36px;
  line-height: 48px;
  font-size: 3.6rem;
  line-height: 4.8rem;
  width: 68.75%;
  margin: 10rem auto;
  text-align: center;
}

/* line 94, ../sass/test.scss */
footer {
  background-color: black;
  overflow: hidden;
}
/* line 97, ../sass/test.scss */
footer a {
  font-family: "Neue Haas Grotesk Display Std 75 Bold";
}
/* line 98, ../sass/test.scss */
footer .wrapper {
  height: 60px;
  padding: 37px 55px;
}
/* line 102, ../sass/test.scss */
footer #phoneHome {
  float: left;
  font-size: 16px;
  line-height: 16px;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
/* line 106, ../sass/test.scss */
footer #backToTop {
  font-size: 14px;
  line-height: 14px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  height: 65px;
  width: 45px;
  float: right;
  text-align: center;
  text-transform: uppercase;
}

/* line 116, ../sass/test.scss */
.wrapper {
  padding: 75px;
  margin: 0 auto;
  max-width: 650px;
}
/* line 120, ../sass/test.scss */
.wrapper:last-of-type {
  padding-bottom: 40px;
}

/************************/
/* Sections */
/************************/
/* line 129, ../sass/test.scss */
.sky {
  background: url("../imgs/sky.jpg") repeat;
}

/* line 133, ../sass/test.scss */
section {
  position: relative;
}
/* line 135, ../sass/test.scss */
section.title {
  height: 1376px;
}

/* line 140, ../sass/test.scss */
.white {
  background: white;
}

/* line 144, ../sass/test.scss */
#section3 .wrapper {
  padding-top: 25rem;
}

/* line 148, ../sass/test.scss */
#section5 .wrapper {
  padding-left: 10.54264%;
}

/* line 152, ../sass/test.scss */
.aboutTheAuthor {
  margin: 3rem 0 0;
  font-family: "MillerText Italic";
}

/* line 156, ../sass/test.scss */
cite {
  font-style: normal;
}

/* line 158, ../sass/test.scss */
#articleEnd {
  padding: 0 4px;
}

/************************/
/* Drones */
/************************/
/* line 164, ../sass/test.scss */
#drone1, #drone2, #drone3 {
  position: absolute;
}

/* line 168, ../sass/test.scss */
#drone1 {
  height: 8.5rem;
  position: absolute;
  right: 3.75%;
  top: 41.42442%;
}
/* line 173, ../sass/test.scss */
#drone1 img {
  width: 228px;
  height: auto;
}

/* line 179, ../sass/test.scss */
#drone2 {
  height: 36rem;
  position: absolute;
  right: 0;
  top: -12.5rem;
}
/* line 184, ../sass/test.scss */
#drone2 img {
  position: relative;
  width: 700px;
  height: auto;
}

/* line 191, ../sass/test.scss */
#drone3 {
  height: 73px;
}
/* line 193, ../sass/test.scss */
#drone3 img {
  width: 123px;
  height: auto;
  position: absolute;
  top: 150px;
  left: 50px;
}

/* line 211, ../sass/test.scss */
#drone1.sticky {
  position: fixed;
  top: 0;
  padding-top: 1rem;
}

/* line 217, ../sass/test.scss */
#subhead.sticky {
  position: fixed;
  top: 0;
  padding-top: 1rem;
}

/* line 222, ../sass/test.scss */
#drone3.sticky {
  position: fixed;
  top: 0;
}
